
	<%= render partial: 'partials/logo'%>

	<hr>
	 <%= render partial: 'partials/control_bar'%>
  <hr>
  	<% render partial: 'partials/dynamic_rows_control'%>
  
		<webaudio-keyboard keys="25" ></webaudio-keyboard>
		<webaudio-switch id="toggle1"></webaudio-switch>

		<section>
			<aside id="righty"></aside>	
			<aside id="lefty"></aside>
			<table>
				
			</table>
			

		</section>

	

