	<h1>hello metroGnome</h1>

	<hr>
	 <div id="controls">
    <div><button id="play" onclick="this.innerText = met.play();">play</button></div>
    
    <div id="tempoBox">Tempo: 
      <span id="showTempo">120</span>BPM 
      
      <input id="tempo" type="range" min="30.0" max="160.0" step="1" value="120" style="height: 20px; width: 200px" onInput="met.tempo = event.target.value; document.getElementById('showTempo').innerText= met.tempo;">
    </div>
    

  </div>
  <hr>

  <form action="" id="newRow">
  	<select>
		  <option value="bigdrum">big drum!</option>
		  <option value="smalldrum">small drum!</option>
		  <option value="mediumDrum">medium Drum!</option>
		  <option value="superDRUMS">Super DRUMS!!</option>
		</select>
		<input type="submit" value="Add New Instrument">
  </form>
  <br><button>Add Beat To All Sequences</button>



		<section>
			<aside id="righty"></aside>	
			<aside id="lefty"></aside>
			<table>
				<tr>
					<th>nil</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
				</tr>
				<tr>
					<th>drum1</th>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded1" name="" />
							<label for="rounded1"></label>
						</div>
					</td>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded2" name="" />
							<label for="rounded2"></label>
						</div>
					</td>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded3" name="" />
							<label for="rounded3"></label>
						</div>
					</td>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded4" name="" />
							<label for="rounded4"></label>
						</div>
					</td>
				</tr>
				
			</table>

		</section>

