	<h1>hello metroGnome</h1>

	<hr>
	 <%= render partial: 'partials/control_bar'%>
  <hr>
  	<% render partial: 'partials/dynamic_rows_control'%>
  



		<section>
			<aside id="righty"></aside>	
			<aside id="lefty"></aside>
			<table>
				
			</table>
			

		</section>

