	<h1>hello metroGnome</h1>

	<hr>
	 <%= render partial: 'partials/control_bar'%>
  <hr>
  	<% render partial: 'partials/dynamic_rows_control'%>
  



		<section>
			<aside id="righty"></aside>	
			<aside id="lefty"></aside>
			<table>
				<tr>
					<th>nil</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
				</tr>
				<tr>
					<th>drum1</th>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded1" name="" />
							<label for="rounded1"></label>
						</div>
					</td>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded2" name="" />
							<label for="rounded2"></label>
						</div>
					</td>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded3" name="" />
							<label for="rounded3"></label>
						</div>
					</td>
					<td>
						<div class="beatCell">
							<input type="checkbox" value="1" id="rounded4" name="" />
							<label for="rounded4"></label>
						</div>
					</td>
				</tr>
				
			</table>

		</section>

