<!-- NOT MVP -->

<form action="" id="newRow">
	<select>
	  <option value="bigdrum">big drum!</option>
	  <option value="smalldrum">small drum!</option>
	  <option value="mediumDrum">medium Drum!</option>
	  <option value="superDRUMS">Super DRUMS!!</option>
	</select>
	<input type="submit" value="Add New Instrument">
</form>

<br><button>Add Beat To All Sequences</button>