	
	<div class="logo">

		<!-- <div class="logo-lines col-1-12"></div> -->
		<h1 class="logo-text"><span class="foxi">Foxi</span><span class="drum">Drum</span> </h1>
		<!-- <div class="logo-lines col-8-12"></div> -->
			
		
		
	</div>